@charset "UTF-8";

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

:root{
    --cor-0: #940730;
    --cor-1: #e70f50;
    --cor-2: #ffee00;
    --cor-3: #00ADE1;
    --cor-4: #363636;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body, html{
    background-color: var(--cor-4);
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

h2{
    border-radius: 10px 0px;
    background-image: linear-gradient(to right, var(--cor-1), transparent);
    font-size: 3em;
    margin-bottom: 0.5em;
    padding: 10px;
    text-transform: uppercase;
}

img {
    display: flex;
    max-width: 100%;
}

/* TOP */

.top-clan-bg{
    background-color: rgb(192, 192, 0);
    color: white;
}

.marquee2{
    animation-delay: 20s;
}

marquee .top-clan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    letter-spacing: 1px;
    padding-top: 10px;
    animation: marquee 10s linear infinite;
}

.top-clan a{
    color: black;
}

.top-clan p, .top-clan a{
    margin: 0px 10px 10px 10px;
}

/* MENU */

.menu-bg{
    background-color: var(--cor-2);
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.349);
}

.menu{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    padding: 15px 0px;
}

.menu a{
    color: black;
}

.menu-logo{
    flex: 1;
    max-width: 10%;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    display: block;
    font-size: 1.25em;
    padding: 10px;
}

.menu-nav a:hover{
    color: rgb(255, 0, 0);
    background-color: #000000;
    transition: 0.5s;
}

/* INTRODUÇÂO */

.intro{
    display: flex;
    color: var(--cor-0);
    font-size: 3em;
    max-width: 960px;
    margin: auto;
    padding: 40px 10px;
    text-transform: uppercase;
    justify-content: center;
}

/* SOBRE */

.sobre{
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    /* background-color: #000000; */
    border-radius: 10px 0px;
    border: 2px solid rgba(0, 0, 0, 0.212);
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 60px auto;
    padding: 0px 0px;
}

.sobre-info{
    flex: 1 1 400px;
}

.sobre-info p{
    color: white;
    font-size: 1.25em;
    margin: 0px 10px;
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: justify;
}

/* MEMBROS */

.membros{
    border-radius: 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    background-color: #000000;
    max-width: 940px;
    margin: 60px auto;
}

.membros-container{
    display: flex;
    flex-wrap: wrap;
}

.membros-item {
    margin: 5px;
    padding: 10px;
    flex: 1 1 400px;
}

.membros-item a{
    border-radius: 5px 0px;
    background-image: linear-gradient(to left, var(--cor-0), transparent);
    display: block;
    margin: 0px;
    padding: 28px;
}

/* HALL */

.hall{
    border-radius: 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    background-color: #000000;
    max-width: 940px;
    margin: 60px auto;
}

.hall-container{
    display: flex;
    flex-wrap: wrap;
}

.hall-item{
    margin: 5px;
    padding: 10px;
    flex: 1 1 400px;
}

.hall-item a{
    border-radius: 5px 0px;
    background-image: linear-gradient(to left, var(--cor-0), transparent);
    display: block;
    margin: 0px;
    padding: 28px;
}

/* REGRAS */

.regras{
    border-radius: 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    background-color: black;
    max-width: 940px;
    margin: 60px auto;
}

.regras-item{
    margin: 5px;
    padding: 10px;
    flex: 1 1 400px;
}

.regras-item p{
    color: rgb(180, 178, 178);
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 10px;
    text-align: justify;
}

.regras-item p{
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.regras-item p::before{
    display: block;
    content: '';
    border-radius: 50%;
    background-color: #fc0000;
    margin-right: 10px;
    padding: 5px;
}

.footer{
    align-items: center;
    display: flex;
    background-color: black;
    height: 200px;
}

.footer p{
    color: var(--cor-0);
    flex: 1;
    font-size: 2em;
    text-align: center;
}
