@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body, html{
    background-color: #bebdbd;
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

/* TOP */

.top-clan-bg{
    background-color: #d1ce00;
    color: white;
}

.top-clan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    padding-top: 10px;
}

.top-clan a{
    color: black;
}

.top-clan p, .top-clan a{
    margin: 0px 10px 10px 10px;
}

/* MENU */

.menu-bg{
    background-color: #d1ce00;
}

.menu{
    max-width: 960px;
}