@charset "UTF-8";

:root{
    --cor-0: #8D49F2;
    --cor-1: #7323ec;
    --cor-2: #4e00c2;
    --cor-3: #371768;
    --cor-4: #12002c;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 0px;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}