body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    color: white;
    text-decoration: none;
}

.header{
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;

}

.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    
}
