@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-0: #8D49F2;
    --cor-1: #7323ec;
    --cor-2: #4e00c2;
    --cor-3: #371768;
    --cor-4: #12002c;
}

body{
    background-color: var(--cor-4);
    font-family:'Nunito', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------ */

.back-bg{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
}

.back-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

/* ------------------------------------------- */

.logo-name{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.logo-name h1{
    color: var(--cor-2);
    text-transform: uppercase;
}

/* ------------------------------------------- */

.search-bg{
    display: flex;
    flex-wrap: wrap;
}

.search-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

#search-bar::placeholder{
    color: var(--cor-4);
}

.search-container #search-bar{
    background-color: var(--cor-1);
    border-radius: 5px;
    border: none;
    display: flex;
    width: 200px;
    padding: 5px;
    margin: 0px 10px;
}

.search-container > span i{
    background-color: var(--cor-3);
    border-radius: 50%;
    color: var(--cor-0);
    cursor: pointer;
    display: flex;
    padding: 10px;
}

/* ------------------------------------------ */

main{
    margin: auto;
    max-width: 1180px;
}

.user-bg{
    background: var(--cor-2);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.user-bg img{
    width: 100%;
}

/* ----------------INICIO-GRID--------------- */

.user-bg-container{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: 
    'side-f side-f1 nav' 
    'side-n side-n nav' 
    'side-n side-n nav' 
    'side-n1 side-n1 user-fav' 
    'side-i side-i cont';
    gap: 10px;
}

/* ------------------SIDER---------------- */

.sider-foto{
    background: var(--cor-2);
    grid-area: side-f;
    height: 80px;
    border-radius: 0px 0px 5px 5px;
    /* margin: 0px 0px 10px 0px; */
}

.sider-foto div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sider-foto div img{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-0);
    border: 4px solid var(--cor-2);
    border-radius: 50%;
    cursor: pointer;
    width: 150px;
    margin: 0px 10px;
    transform: translateY(-50%);
    position: 0;
}

.sider-foto-1{
    background: var(--cor-2);
    grid-area: side-f1;
    border-radius: 0px 0px 5px 5px;
    /* margin: 0px 0px 10px 0px; */
}

.sider-foto-1 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sider-foto-1 img{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-1);
    border: 2px solid var(--cor-3);
    border-radius: 5px;
    width: 30px;
    margin: 5px;
    padding: 5px;
}
/* -----------------------NOME-------------------------- */
.sider-user-name{
    background: var(--cor-2);
    grid-area: side-n;
    border-radius: 5px;
    border-left: 3px solid var(--cor-0);
}

.user-name-item{
    display: flex;
    flex-wrap: wrap;
}

.user-name-item h1{
    color: var(--cor-4);
    font-size: 1.5em;
    margin: 5px;
}

/* ------------------------------------------------------ */

.sider-user-name-1{
    background: var(--cor-2);
    grid-area: side-n1;
    border-radius: 5px;
    border-left: 3px solid var(--cor-0);
}

.user-name-item-1{
    color: var(--cor-3);
    font-size: 1em;
    margin: 5px;
}

/* ---------------------------------------------------- */
.sider-info{
    width: 100%;
    background: var(--cor-2);
    grid-area: side-i;
    border-radius: 5px;
}

.sider-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sider-name ul{
    font-size: 1.2em;
    list-style: none;
    line-height: 2;
    margin: 10px;
}

.icon-item{
    display: flex;
    flex-wrap: wrap;
}


.icon-item a{
    align-items: center;
    border-radius: 5px;
    color: var(--cor-4);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    padding: 0px 10px;
}

.icon-item a > i{
    color: yellow;
    font-size: 24px;
}
.icon-item a > p{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 0px 10px;
}

.icon-item a:hover{
    background: var(--cor-4);
    color: var(--cor-0);
    transition: 0.3s;
}

/* ------------------FRASE------------------- */

.nav-desc{
    background: var(--cor-2);
    border-radius: 0px 0px 5px 5px;
    grid-area: nav;
}

.frase-container{
    height: 132px;
    display: flex;
    flex-wrap: wrap;
}



.frase-item{
    display: flex;
}

.frase-item p{
    text-align: justify;
    margin: 10px;
}

/* -------------------INFO------------------- */

.user-info{
    border-radius: 5px;
    background: var(--cor-2);
    grid-area: user-fav;
}

.info-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-item h1{
    color: var(--cor-4);
    text-transform: uppercase;
    font-size: 1.5em;
}

/* --------------------CONT------------------- */

.content{
    border-radius: 5px;
    background: var(--cor-2);
    grid-area: cont;
    height: 150px;
}

/* --------------------FOOTER----------------- */

footer{
    color: var(--cor-2);
    background-color: black;
    /* border-top: 3px solid var(--cor-0); */
    /* box-shadow: 0px -5px 7px #8d49f279; */
    display: flex;
    font-size: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    padding: 80px 0px;
}

footer a{
    color: var(--cor-0);
    text-decoration: none;
}

footer a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}