@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:root {
    --cor-0:#1f2b1c;
    --cor-1:#0E4700;
    --cor-2:#1E9400;
    --cor-3:#28C700;
    --cor-4:#5CD03E;
}

body {
    background-color: var(--cor-0);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

img{
    display: block;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.411);
    max-width: 100%;
    margin: 10px auto;
}

h4 > sup > s{
    color: red;
    flex-wrap: wrap;
    margin-right: 10px;
}

a{
    color: var(--cor-4);
    text-decoration: none;
}

/* Menu */

.menu-bg{
    background-color: var(--cor-2);
    margin: auto;
    max-width: 100%;
}

.menu{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin: auto;
    padding: 20px 0px;
}
.logo-name{
    color: var(--cor-4);
    background-color: var(--cor-0);
    border-radius: 5px;
    flex: 1;
    font-size: 1.5em;
    max-width: 252px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 15px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-nav a{
    color: var(--cor-0);
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    text-decoration: none;
}

.menu-nav a:hover{
    color: var(--cor-4);
    border-radius: 5px;
    background-color: var(--cor-0);
    transition: 0.2s;
}

/* Nav Bar */

.nav-bg{
    background-color: var(--cor-0);
    box-shadow: 0px 5px 7px #00000059;
    border-bottom: 3px solid var(--cor-4);
    position: relative;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin: 10px auto;
    padding: 0px 10px;
}

.nav-container p{
    color: var(--cor-3);
    flex: 1 1 auto;
    font-size: 1.2em;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 10px;
}

.nav-container img{
    filter: invert(79%) sepia(9%) saturate(3434%) hue-rotate(56deg) brightness(89%) contrast(90%);
    box-shadow: none;
    max-width: 35px;
    margin: 10px;
}

.redes-item{
    display: flex;
    flex-wrap: wrap;
}

.redes-item a{
    margin: 0px auto;
    height: 55px;
}

#instagram:hover{
    transition: 0.8s;
    filter: invert(12%) sepia(93%) saturate(1605%) hue-rotate(321deg) brightness(94%) contrast(102%);
    
}

#whatsapp:hover{
    transition: 0.8s;
    filter: invert(45%) sepia(44%) saturate(5146%) hue-rotate(75deg) brightness(91%) contrast(105%);
    
}

/* MAIN */

main {
    background-color: var(--cor-1);
    border-radius: 0px 0px 5px 5px;
    max-width: 940px;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 600px) {
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

/* ----------------------------------------- */

.sub-main-bg{
    background-color: var(--cor-2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
}

.foto-container{
    margin: auto;
    justify-content: center;
}

.foto-container img{
    max-width: 100%;
    width: 300px;
    margin: auto;
}

.produto-bg{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px 0px;
}

.produto-bg img{
    box-shadow: none;
    max-width: 100%;
    width: 50px;
    margin: auto;
}

.row{
    display: flex;
    background-color: var(--cor-1);
    border-radius: 5px;
    border: 2px solid var(--cor-0);
    justify-content: center;
    list-style: none;
    margin: 10px;
    width: 100px;
}

/* ----------------------------------------- */

.desc-bg{
    background-color: var(--cor-0);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
}

.desc-container{
    display: flex;
    flex-wrap: wrap;
}

/* ----------------------------------------- */

.desc-item table{
    background-color: var(--cor-4);
    align-items: center;
    margin: 10px auto;
    max-width: 400px;
}

.desc-item caption{
    margin: 10px auto;
    color: var(--cor-1);
    background-color: var(--cor-3)
}

.desc-item tbody{
    flex-wrap: wrap;
    display: flex;
}


/* ----------------------------------------- */

.desc-item h1{
    color: var(--cor-3);
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 2px;
}

.desc-item h5{
    color: var(--cor-2);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2px;
}

.desc-item h3{
    color: var(--cor-3);
    font-size: 1.5em;
    line-height: 1.2;
    margin: 10px auto;
}

.desc-item a {
    display: flex;
    color: var(--cor-3);
    background-color: var(--cor-0);
    border: 3px solid var(--cor-3);
    justify-content: center;
    padding: 15px 70px;
    font-size: 1.5em;
}

.desc-item a:hover{
    color: var(--cor-1);
    background-color: var(--cor-2);
    transition: 1s;
}

/* Footer */

footer{
    color: var(--cor-2);
    background-color: var(--cor-1);
    border-top: 3px solid var(--cor-3);
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    padding: 80px;
}

footer a{
    color: var(--cor-4);
    text-decoration: none;
}

footer a:hover{
    color: var(--cor-2);
    text-decoration: underline;
    transition: 0.2s;
}
