@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{

    ---cor-0: #2d2d4ed5;
    ---cor-1: #3B3C88;
    ---cor-2: #37AF65;
    ---cor-3: #0;
    ---cor-4: #0;
}

body{
    display: block;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: url(../imagens/pexels-designecologist.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

body h1{
    text-align: center;
    font-size: 1.8em;
    padding: 10px 0px;
    color: white;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.349);
}

body p{
    text-align: center;
    font-style: italic;
    margin: 0px 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.349);
}

form > fieldset{
    display: block;
    margin: auto;
    font-size: 1.1em;
    padding: 30px;
    width: 300px;
    background-color: var(---cor-0);
    color: white;
    border-radius: 5px;
    border: none;
}

form div {
    text-align: justify;
    padding: 10px 0px;
    font-size: 1em;
}

input{
    margin: 10px 0px;
    box-sizing: border-box;
}

/* .tam{
    width: 5vw;
    height: 5vh;
    margin: 10px 0px;
} */

/* .let{
} */

.voa{
    margin-top: 10px;
    width: 100%;
}

form .nei, .pf{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
}