@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-0: #8D49F2;
    --cor-1: #7323ec;
    --cor-2: #4e00c2;
    --cor-3: #371768;
    --cor-4: #12002c;
}

body{
    background-color: var(--cor-4);
    font-family:'Nunito', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------ */

.back-bg{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
}

.back-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

/* ------------------------------------------- */

.logo-name{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.logo-name h1{
    color: var(--cor-2);
    text-transform: uppercase;
}

/* ------------------------------------------- */

.search-bg{
    display: flex;
    flex-wrap: wrap;
}

.search-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

#search-bar::placeholder{
    color: var(--cor-4);
}

.search-container #search-bar{
    background-color: var(--cor-1);
    border-radius: 5px;
    border: none;
    display: flex;
    width: 200px;
    padding: 5px;
    margin: 0px 10px;
}

.search-container > span i{
    background-color: var(--cor-3);
    border-radius: 50%;
    color: var(--cor-0);
    cursor: pointer;
    display: flex;
    padding: 10px;
}

/* ------------------------------------------ */

main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 90%;
    height: 100vh;
}

/* ------------------------------------------ */

.user-bg{
    background-color: var(--cor-3);
    width: 100%;
}

.user-info{
    margin: 10px;
    background-color: var(--cor-3);
}

#fundo-img{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-2);
    width: 100%;
    /* padding: 0px 0px; */
}

.user-img{
    display: flex;
    flex-wrap: wrap;
}

img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.user-img img{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-1);
    border: 4px solid var(--cor-3);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0px 10px;
    transform: translateY(-50%);
    position: absolute;
}

/* -------------------------------------------- */

.bio-bg{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.bio-container{
    display: flex;
    flex-wrap: wrap;
}

.bio-item{
    background-color: var(--cor-0);
    border-radius: 5px;
    max-width: 81%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
    margin-top: auto;
    padding: 10px;
}

/* ---------------------------------------- */

#iv-bg{
    border-radius: 5px;
    background-color: var(--cor-4);
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 80px;
    width: 160px;
    justify-content: center;
}

#iv-bg h2{
    color: var(--cor-0);
    font-size: 1.5em;
    display: flex;
}