@charset "UTF-8";


@media screen and (min-width: 768px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(to left, red, yellow);
    }

    header h1{
        display: block;
        font-size: 2em;
        color: black;
    }

    form {
        display: flex;
        margin: 0px;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;}

    main{
        margin: auto;
        width: 600px;
    }
}