@charset "UTF-8";

:root{
    --cor-0: #FFBB4D;
    --cor-1: #FF9D00;
    --cor-2: #CC7E00;
    --cor-3: #804F00;
    --cor-4: #86817A;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 19, 19);
    
}

.bola{
    display: flex;
    max-width: 940px;
    margin: 80px auto;
    justify-content: center;
}

/* img .bola{
    display: block;
    flex: 1 1 400px;
} */

img{
    border-radius: 50%;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.445);
    max-width: 100%;
}

/* MENU */

.menu-bg{
    background-color: black;
}

main > h1{
    color: rgb(27, 27, 27);
    display: block;
    background-color: var(--cor-0);
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.336);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
}

main > h2{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, var(--cor-3), transparent);
    border-radius: 10px 0px 0px 0px;
    /* box-shadow: 0px 4px 7px 0px; */
    max-width: 940px;
    text-align: left;
    margin: 0px auto;
    padding: 15px 10px;
}

/* DESCRIÇÃO */

.desc{
    flex: 1 1 400px;
    /* box-shadow: 0px 4px 5px 7px rgba(0, 0, 0, 0.445); */
    background-color: var(--cor-1);
    border-radius: 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 40px 0px;
}

.desc p{
    font-size: 1.25em;
    margin: 0px 10px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: justify;
}

/* PROJETOS */

.projetos-bg{
    display: flex;
    max-width: 940px;
}

/* REDES */

.redes-bg{
    background-color: var(--cor-1);
    border-radius: 0px 0px 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 20px 0px;
}

.redes-container{
    display: flex;
    flex-wrap: wrap;
}

.redes-item{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    flex: 1 1 400px;
    margin: 0px;
    padding: 15px 10px;
}

.redes-item a{
    color: blue;
    text-decoration: none;
}

.redes-item a:hover{
    color: var(--cor-3);
    text-decoration: underline;
    transition: 1s;
}

/* FOOTER */

footer{
    color: rgb(161, 161, 161);
    background-color: #3a3734;
    display: flex;
    font-size: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    padding: 80px 0px;
}

footer a{
    color: #FFBB4D;
    text-decoration: none;
}

footer a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}