@charset "UTF-8";

/* @keyframes img{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

:root{
    --cor-0: #8D49F2;
    --cor-1: #7323ec;
    --cor-2: #4e00c2;
    --cor-3: #371768;
    --cor-4: #12002c;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-4);
    
}

.bola{
    display: flex;
    max-width: 940px;
    margin: 80px auto;
    justify-content: center;
}

img{
    border-radius: 50%;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.445);
    max-width: 100%;
}

/* MENU */

.menu-bg{
    border-top: 3px solid red;
    background-color: black;
    max-width: 100%;
    margin: auto;
}

.menu{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin: auto;
    padding: 20px 0px;
}

.menu-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    border-radius: 5px;
    display: block;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu-nav a:hover{
    color: black;
    background-color: var(--cor-0);
    padding: 10px;
    transition: 0.5s;
}

/* MAIN */

main > h1{
    color: rgb(27, 27, 27);
    display: block;
    background-color: var(--cor-1);
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.336);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
}

main > h2{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, var(--cor-3), transparent);
    border-radius: 10px 0px 0px 0px;
    /* box-shadow: 0px 4px 7px 0px; */
    max-width: 940px;
    text-align: left;
    margin: 0px auto;
    margin-top: 80px;
    padding: 15px 10px;
}

/* DESCRIÇÃO */

.desc{
    flex: 1 1 400px;
    /* box-shadow: 0px 4px 5px 7px rgba(0, 0, 0, 0.445); */
    background-color: var(--cor-2);
    border-radius: 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 40px 0px;
}

/* .desc::before{
    border-bottom: 3px solid var(--cor-1);
    display: block;
    content: '';
    height: 170px;
    width: 100%;
    max-width: 940px;
    position: absolute;
} */

.desc p{
    font-size: 1.25em;
    margin: 0px 10px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: justify;
}

/* PROJETOS */

.projetos-bg{
    background-image: linear-gradient(to left, var(--cor-3), var(--cor-2));
    border-radius: 0px 0px 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 20px 0px;
}

/* .projetos-bg::after{
    border-bottom: 3px solid var(--cor-1);
    display: block;
    content: '';
    height: 35px;
    width: 100%;
    max-width: 940px;
    position: absolute;
} */

.projetos-container{
    display: flex;
    flex-wrap: wrap;
}

.projeto-item{
    /* align-items: center; */
    flex: 1 1 200px;
    filter: brightness(50%);
    justify-content: space-around;
    max-width: 940px;
    margin: 0px auto;
    padding: 0px 20px;
}

.projeto-item:hover{
    filter: brightness(100%);
    transition: 0.5s;
}

.projeto-item img:hover{
    border: 2px solid black;
    transition: 0.1s;
}

.projeto-item img{
    border-radius: 0%;
}

/* REDES */

.redes-bg{
    background-color: var(--cor-2);
    border-radius: 0px 0px 10px 0px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 20px 0px;
}

.redes-container{
    display: flex;
    flex-wrap: wrap;
}

.redes-item{
    color: var(--cor-4);
    font-size: 1.2em;
    flex: 1 1 400px;
    margin: 0px;
    padding: 15px 10px;
}

.redes-item a{
    color: var(--cor-0);
    text-decoration: none;
}

.redes-item a:hover{
    color: var(--cor-4);
    text-decoration: underline;
    transition: 1s;
}

/* FOOTER */

footer{
    color: var(--cor-2);
    border-top: 3px solid var(--cor-0);
    background-color: var(--cor-3);
    display: flex;
    font-size: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    padding: 80px 0px;
}

footer a{
    color: var(--cor-0);
    text-decoration: none;
}

footer a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}